<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="LOG_PATH" source="logging.path"/>
    <appender name="File" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH:-logs}/api.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="Console"/> <!-- Para logs do Spring Boot no console -->
    </root>

    <!-- Logger específico para seus pacotes -->
    <logger name="com.magalhaes" level="INFO">
        <appender-ref ref="File"/> <!-- Para logs do seu código no arquivo -->
    </logger>
</configuration>
